<!DOCTYPE html>
<html>
  <head>
    <title>Photosplat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            <%= link_to "Photosplat", root_path, class: "brand-logo center" %>
          </span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <% if user_signed_in? %>
              <%= link_to "New splat", new_post_path, class: "mdl-navigation__link" %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "mdl-navigation__link" %>
              <%= link_to "Sign up", new_user_registration_path, class: "mdl-navigation__link" %>
            <% end %>
          </nav>
        </div>
      </header>

      <main class="mdl-layout__content">
        <div class="page-content">
          <%= notice %>
          <%= alert %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
